<div style="background-image:url('/assets/img/video.jpg');">
  <br>
  <div class="container">
    <mat-card class="right-border">
      <div style="font-size:16px;">
        <div>Dear colleague,</div>
        <br>
        It's 3 months since you joined TVSNext. We hope you have had the opportunity to settle down without much
        difficulty and are now inducted into the regular stream of activities. To help us assess the effectiveness of
        our current processes, policies, culture & environment we request you to complete this feedback form. All
        Information provided by you shall be kept confidential and put to use as appropriate.
      </div>

    </mat-card>
  </div>
  <div class="container">
    <div class="row" style="margin-top:50px;">


      <form [formGroup]="feedbackForm">

        <div class="panel panel-info " *ngFor="let question of questions; let j= index" style="opacity: 0.9;">
          <div class="panel-heading header gradiant-header">
            <div mat-card-avatar class="example-header-image"
              [ngStyle]="{'background-image':'url(assets/img/' + question.icon + ')'}">
              <div class="title">{{question.topic}}</div>
            </div>

          </div>
          <div class="panel-body" *ngFor="let q of question.questions; let i= index">
            <span class="ques">{{q.ques}}</span><br>
            <div [ngSwitch]="q.type">
              <mat-form-field class="m30" style="width:80%;" *ngSwitchCase="'Text'">
                <textarea matInput placeholder="Additional comments" formControlName="{{q.feedBackFor}}"></textarea>
              </mat-form-field>
              <mat-radio-group formControlName="{{q.feedBackFor}}" *ngSwitchCase="'Radio'">
                <mat-radio-button class="m30" *ngFor="let option of options" value="{{option.rating}}">
                  {{option.label}}
                </mat-radio-button>
                <img src="assets/img/{{feedbackForm['value'][q.feedBackFor]}}.png" style="width:30px;margin-left:50px;"
                  *ngIf="feedbackForm['value'][q.feedBackFor]">
              </mat-radio-group>

            </div>


          </div>
        </div>

        <mat-card *ngIf="questions.length" style="border:1px solid #f6931e;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Employee Feedback</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="fb_name" required>
            </mat-form-field>

            <mat-form-field style="margin-left: 25px;">
              <input matInput placeholder="Emp ID" formControlName="fb_empID" required>
            </mat-form-field>

            <mat-form-field style="margin-left: 25px;">
              <input matInput placeholder="Department" formControlName="fb_dept" required>
            </mat-form-field>

            <mat-form-field style="margin-left: 25px;">
              <input matInput placeholder="Grade" formControlName="fb_grade" required>
            </mat-form-field>

            <mat-form-field style="margin-left: 25px;">
              <input matInput [matDatepicker]="picker" [max]="todaysDate" placeholder="Date of Joining"
                formControlName="fb_doj">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-card-content>
          <button mat-raised-button color="primary" [disabled]="feedbackForm.invalid" (click)="submit()">
            Submit
          </button>
        </mat-card><br>

      </form>



    </div>
  </div>
</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="margin-top:10px;">© 2019 Copyright:
    Atul
  </div>
  <!-- Copyright -->

</footer>