<div class="container" style="min-height:600px">
  <div class="row">
    <div class="col-md-12 row L2Black poppins-med-18" style="margin-top:25px; margin-bottom: 10px;">
      <div class="col-md-2">
        <h3>Questions</h3>
      </div>
    </div>
  </div>
  <form [formGroup]="questionForm" (ngSubmit)="saveQuestion(questionForm)">
    <div class="row L2Black poppins-med-18">
      <div class="col-md-2">
        <button mat-raised-button type="button" color="primary" (click)="addTopic()">
          Add Topic
        </button>
      </div>
      <div class="col-md-2">
        <div>
          <button type="submit" mat-raised-button color="primary" class="right-align">
            Save
          </button>
        </div>
      </div>
    </div><br>
    <div class="row L2Black poppins-med-18" *ngFor="let number of topic;let i=index;">
      <mat-form-field class="full-width">
        <input matInput placeholder="Topic" [formControlName]="'topic'+ i">
      </mat-form-field>
      <div *ngFor="let ques of questions;let j=index;">
        <div class="col-md-8 L2Black poppins-med-18">
          <mat-form-field class="full-width">
            <input matInput placeholder="newjoin_Question{{j}}" [formControlName]="'question'+ j">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button type="button" color="primary" (click)="addQuestion()">
        Add Questions
      </button>
      <br>
    </div>



  </form>
</div>