<div>
  <div class="container">
    <div class="row" *ngFor="let feedback of feedbackItem" style="margin-top:25px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <mat-card class="gradiant-header survey-card right-border"
          [style.backgroundImage]="'url('+ feedback.background +')'">
          <span style="display:inline-block;margin-left:30px">
            <i class="material-icons">
              {{feedback.icon}}
            </i>
            {{feedback.name}}</span>
          <button class="pull-right" style="margin-right:20px" mat-raised-button color="primary"
            (click)="selectQuest(feedback.id)" [disabled]="!feedback.isEnabled">Give Feedback
          </button>
        </mat-card>
      </div>
    </div>
    <br><br>



  </div>
</div>