<div class="container" style="margin-top:5%;">
  <div class="row">
    <div class="jumbotron">
      <p class="lead">
        Thank you for taking the time to complete this survey. We are extremely grateful for contributing your valuable
        time, your honest information, and your thoughtful suggestions.


      </p>
      <hr class="my-4">
      <p> We truly value the information you have provided. Your responses will contribute to our analyses to
        contemplate and implement worthwhile improvements. :)</p>

    </div>
  </div>
</div>>